@charset "UTF-8";
/* css Document */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header .navbar {
    width: 100%;
    height: 3rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 6px;
}

.navbar a {
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.navlink {
    display: flex;
    justify-content: space-between;
    width: 6rem;
    height: 35px;
    font-size: 12px;
    text-decoration: none;
    list-style-type: none;
    margin-right: 12px;
    align-items: center;
}

.navbtn {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: space-evenly;
}

.navbtn .apps {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    color: rgb(113, 116, 121);
    padding-top: 3px;
}
  
.navbtn .account {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    padding-top: 3px;
}

.navbtn img{
    height: 28px;
    width: 28px;
    border-radius: 50px;
}

.navlink a:hover {
   text-decoration: underline;
}
  
.apps:hover {
    background-color: rgba(203, 205, 206, 0.21);
}

.account:hover {
    background-color: rgb(203, 205, 206, 0.21);
}

img {
    width: 242px;
}

.focus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 198px;
}

.searchsection {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-width: 440px;
}

input {
    height: 44px;
    color: #292929;
    font-weight:lighter;
    width: 93%;
    border: solid;
    border-color: #dfe1e5;
    border-radius: 24px;
    border-width: 1px;
    box-shadow: none;
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/439/746/small/Basic_Ui__28101_29.jpg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-y: 14px;
    background-position-x: 13px;
}

input:hover, input:focus {
    cursor:text;
    border:none;
    box-shadow: 0 1px 4px 1px #bebebeb7;
    outline: none;
}

#voice {
    border: solid;
}
.vc {
    width: 18px;
    border: none;
}

.search-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-button button {
    background-color: #F8F9FA;
    border: none;
    border-radius: 4px;
    height: 30px;
    margin-top: 20px;
    font-size: 11px;
    color: #202124;
    padding: 10px 10px;
    width: auto;
    margin-left: 5px;
}

.search-button button:hover {
    box-shadow: 0 1px 4px 1px #bebebeb7;
    cursor: pointer;
}

footer {
    position: fixed;
    background-color: #F2F2F2;
    width: 100%;
    padding-left: 30px;
    bottom: 0px;
    text-decoration: none;
    font-size: 12px;
}

footer .footerA a {
    text-decoration: none;
    list-style-type: none;
    color: #6F6F6F;
    display: flex;
}

.footerA .apart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 2.5rem;
}

.footerA .apart a{
    padding: 5px;
    margin-right: 15px;
}

footer .footerA a:hover {
    text-decoration: underline;
}

.push {
    margin-left: auto;
}